.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textLabel {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
  color: #333;
}

.profilePic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 40px;
}

.buttonLink {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #f5f5f5;
  text-align: center;
  width: 100px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.buttonLink:hover {
  background-color: #e0e0e0;
}

.editLink {
  color: #007BFF;
}

.deleteLink {
  color: red;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.infoBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #007BFF;
}

.textAreaField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  resize: none;
  transition: border-color 0.3s ease;
}

.textAreaField:focus {
  border-color: #007BFF;
}

.separator {
  border-top: 2px solid #ddd;
  margin: 30px 0;
}

