/* PetsList.module.css */
.tableContainer {
  margin: 20px;
  animation: fadeIn 1s ease-in-out;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slideInFromTop 0.5s ease-out;
}

.table {
  width: 100%;
  border-collapse: collapse;
  animation: fadeIn 1s ease-in-out;
}

.table th, .table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.table th {
  background-color: #ffffff;
  font-weight: bold;
}


.actionButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
