.container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

/* ส่วนของpet */

.container_g_layer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container_layer_top {
    display: flex;
    flex-direction: row;
    width: 871px;
    height: 40px;
    gap: 30;
    
}

.container_in_top {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container_in_top_tow {
    width: 20%;
    background-color: #00B2CA;
    color: #ffffff;
    margin-left: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    /* จัดให้อยู่ตรงกลางในแนวนอน */
    align-items: center;
    /* จัดให้อยู่ตรงกลางในแนวตั้ง */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color 0.3s ease;
}


.container_layer_buttom {
    width: 871px;
    height: 771px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

:hover.container_in_top_tow {
    background-color: rgb(255, 255, 255);
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    cursor: pointer;
}

/* สิ้นสุด */


/* ส่วนของ host */
.container_g_layer_host {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 30px;
    /* background-color: #00B2CA; */
    
}

.container_layer_top_host {

    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 30px;
}

.container_layer_buttom_host {
    /* background-color: bisque; */
width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
        column-gap: 30px;
    height: auto; /* กำหนดความสูงตามต้องการ */
    overflow: hidden; /* ป้องกันไม่ให้เนื้อหาทะลุออก */
}

.container_in_l_button_host,
.container_in_r_button_host {
width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden; /* ป้องกันเนื้อหาทะลุออกจากคอนเทนเนอร์นี้ */
    flex-grow: 1; /* ให้คอนเทนเนอร์ขยายตามพื้นที่ที่มี */
    flex-shrink: 1; /* ปรับให้ลดขนาดได้เมื่อพื้นที่ไม่พอ */
    flex-basis: 0; /* แบ่งพื้นที่เท่าๆ กัน */
}

/* สิ้นสุด */