  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    width: 400px;
    margin: 0 auto;
  }
  
  .formContainer h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .DuoformGroup {
    display: flex;
    gap: 8%;
  }
  
  .DuoformGroup .formGroup input {
    width: 98%;
  }
  
  .formGroup {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding-left: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
  }
  
  .formGroup select {
    width: 105%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #ffffff;
  }
  
  .formGroup textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .allButton {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  
  .submitButton {
    background-color: #489ca5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    width: 35%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #ffffff;
  }
  
  .closeButton {
    background-color: #b9b9b9;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    width: 35%;
    cursor: pointer;
    font-size: 16px;
  }

  .closeButton:hover {
    background-color: #ffffff;
  } 
  
  
  .imagePreview {
    margin-bottom: 15px;
  }
  