.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ffffff; */
  height: 100vh;
}

.filterSection {
  width: 100%;
  max-width: 1200px;
  padding-left: 60px;
  background-color: #ffffff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); */
  border-radius: 25px;
  margin: 20px;
}

.filterSection01 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filterSection01 input {
  margin-left: 10px;
  padding-left: 15px;
}

.filterSection01 select, input {
  font-size: 16px;
  height: 30px; 
  padding: 0; 
  border: 1px solid #ccccccb5;
  border-radius: 15px;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filterSection01 input[type="number"] {
  width: auto;
  width: 40px; 
}


.BackgroundCardGrid {
  background-color: #ffffff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); */
  border-radius: 25px;
  width: 1200px;
  min-height:80%;
  height: auto;
  padding: 40px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: #000;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cardTitle {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.cardLocation {
  display: flex;
  justify-content: space-between;
}
