.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}

.filterSection {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;
}

.searchBar {
  display: flex;
  margin-right: 10px;
  justify-content: flex-end; 
  flex-grow: 1;
}

.BackgroundCardGrid {
  background-color: #A4D9E0;
  border-radius: 25px;
  width: 1200px;
  min-height:80%;
  height: auto;
  padding: 40px;
}

.filterTags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-grow: 2; 
  justify-content: flex-start; 
}

.searchInput {
  padding:0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
  max-width: 300px;
  box-sizing: border-box;
}

.filterSelect {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
  max-width: 300px;
  box-sizing: border-box;
}

.filterTags input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 200px;
  max-width: 300px;
  box-sizing: border-box;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: #000;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cardTitle {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.cardLocation {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .filterSection {
    flex-direction: column;
    align-items: stretch;
  }

  .filterTags {
    width: 100%;
    justify-content: space-between;
  }

  .searchBar {
    width: 100%;
    margin-bottom: 15px;
  }
}
